*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.wrapper{
    
    background-color: #F4ECE6;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.container{
   background-color: #FEFEFE;
   height: 420px;
   width: 700px;
   border-radius: 20px;
   
   display: grid;
   grid-template-columns: repeat(2,300px);
   grid-template-rows: repeat(1,1);
   overflow: hidden;
   column-gap: 25px;
   row-gap: 0px;

}
.img1{
    width: 250px;
}
.img{
    background-image: url("mug.jpg");
    position: relative;
    
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 6;    
}

.contant_1{
    height: 50px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    display: flex;  
    color: grey;  
    letter-spacing: 5px;
    font-size: 20px;
   
  
}
#cpmg{
    font-family: 'Fraunces', serif;
    align-self: flex-end;
}
.contant_2{
    
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Quattrocento', serif;
    width: 350px;
    overflow: hidden;  
    
  
}
h1{
    vertical-align: top;
    font-size: 35px;
}

.contant_3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    width: 350px;
    
    
}
#para{
    font-size: 22px;
}

.contant_4{
    display: flex; 
    justify-content: baseline;
    align-content: center;  
    width: 350px;  
}


#rs{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    margin-right: 10px;
    color: #3C8168;
}
#rsp{
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.contant_5{
    height: 80px;
    
    width: 350px;
   

}
button{
    align-items: center;
    height: 50px;
    width: 340px;
    background-color: #3C8168;
    border-radius: 12px;
    color: aliceblue;
    font-size: 20px;
}
